/* BOX SIZING */
#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;

    /* Define um redondamento para nossas caixas 
    border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    */

    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#caixa2{
    width: 300px;
    height: 300px;
    background: #b9c941;

    /* Define um redondamento para nossas caixas 
    border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    */
}

/* DEGRADE */

#caixa3{
    width: 300px;
    height: 300px;
    /*background: url(../IMG/camera.png);*/
    /*background: linear-gradient(96deg, red, green, yellow);*/
    background: radial-gradient(red,green, yellow);
}

#caixa3 h1{
    /*background: rgba(255,255,255,0.5);*/
}

/* SOMBRAS */

#caixa4{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 2px 20px rgba(0, 0, 0, 0.2);
}

#caixa4 h1{
    color: white;
    /*text-shadow: 20px 20px #CCC;*/
    text-shadow: 20px 20px 5px rgba(0, 0, 0, 0.6);
}

/* ANIMAÇÕES */

@keyframes animacao-caixa {
    form{
        background:red;
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to{
        background:green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

#caixa5{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /*
    animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    */

    animation: animacao-caixa 5s 3s 2 alternate;
}

/* TRANSIÇÕES */
#caixa6{
    width: 300px;
    height: 300px;
    background: red;
}

#caixa6:hover{
    width: 400px;
    background: orange;
    /*transition: width 3s, background 3s;*/
    transition: all 3s;
}
