#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;

    /* Define um redondamento para nossas caixas 
    border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    */

    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#caixa2{
    width: 300px;
    height: 300px;
    background: #b9c941;

    /* Define um redondamento para nossas caixas 
    border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    */
}

#caixa3{
    width: 300px;
    height: 300px;
    /*background: url(../IMG/camera.png);*/
    /*background: linear-gradient(96deg, red, green, yellow);*/
    background: radial-gradient(red,green, yellow);
}

#caixa3 h1{
    /*background: rgba(255,255,255,0.5);*/
}